
.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}

.nav-link:hover,
.nav-link:focus {
    text-decoration: none;
}

.nav-link.disabled {
    color: #6c757d;
}

.nav-tabs {
    border-bottom: 1px solid #dee2e6;
}

.nav-tabs .nav-item {
    margin-bottom: -1px;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
    border-color: #e9ecef #e9ecef #dee2e6;
}

.nav-tabs .nav-link.disabled {
    color: #6c757d;
    background-color: transparent;
    border-color: transparent;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.nav-pills .nav-link {
    border-radius: 0.25rem;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #78d5ef;
}

.nav-fill .nav-item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
}

.nav-justified .nav-item {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
}

.tab-content>.tab-pane {
    display: none;
}

.tab-content>.active {
    display: block;
}

.navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.navbar>.container,
.navbar>.container-fluid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-brand:hover,
.navbar-brand:focus {
    text-decoration: none;
}

.navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.navbar-nav .dropdown-menu {
    position: static;
    float: none;
}

.navbar-text {
    display: inline-block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
    text-decoration: none;
}

.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

.top {
    height: 500px;
    background-size: cover;
    
}
.top h1{
    color: white;
    background-color: transparent;
    text-align: center;
    padding-top: 50px;
    font-size: 80px;
}
.top h2 {
    color: white;
    background-color: transparent;
    text-align: center;
    padding-top: 40px;
}
.top h2 span {
    background-color: transparent;
    margin-right: 10px;
    border-right: solid white;
    padding-right: 10px;
    border-width: 8px;
}

.reaching-us{
    display: flex;
    height: 100vh;

}

form{
  
    width: 50%;
    background: rgb(218, 205, 187);
    border-radius: 5px;
    box-sizing: border-box;
    margin-left: 0px;
    
}
#text {
    padding: 60px;
    color: white;
    font-size: 30px;
}

label{
    display: block;
    margin: 20px;
    background: rgb(218, 205, 187);
    color: white;
    font-weight: 700;
    font-size: 18px;
    border: solid rgb(218, 205, 187);
}
#name, #email, #subject, #message{
    border: solid rgb(218, 205, 187);
    border-bottom: solid white 5px;
}
input, textarea {
    width: 100%;
    background: rgb(218, 205, 187);
    outline: none;
    resize: none;
    background: rgb(218, 205, 187);
    border-bottom: solid white;
    padding: 5px;
}

input[type="text"]:focus, textarea:focus {
    border-bottom: 4px solid black;
}

textarea::-webkit-scrollbar {
    width: 6px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: black;
}

.center {
   
    background: rgb(218, 205, 187);
    margin-top: 0%;
    padding-bottom: 10px;
}

input[type="button"] {
    margin-top: 20px;
    width: 85%;
    max-width: 200px;
    background: linear-gradient(to right, rgb(218, 205, 187), rgb(207, 181, 187));
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}

#error-one {
    color: red;
    background: rgb(252, 231, 231);
    
}
#error-two {
    color: red;
    background: rgb(252, 231, 231);
}
#error-three {
    color: red;
    background: rgb(252, 231, 231);
}

.error-border{
    border-bottom: 3px solid red;
}

#success {
    color: green;
}

footer .box-footer{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}
.home .box-footer .box{
    text-align: center;
    padding: 2rem;
}
.ke{
    padding-top: 2%;
    text-align: center;
    font-size: 1.2rem;
}